@tailwind base;
@tailwind components;
@tailwind utilities;

.code__block code {
  @apply leading-6 font-mono !important;
}

.code__block span {
  @apply no-underline !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mockup-code pre:before {
  margin: 0;
}

::-moz-selection {
  @apply bg-accent text-primary-focus !important;
}
::selection {
  @apply bg-accent text-primary-focus !important;
}
